/* Reset Start */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font: 400 16px/1 'Roboto', sans-serif;
    color: #4c4f5f;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: none;
    color:inherit;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
/* Reset End */
/*Default Classes Start */
.bg-grey {
    background-color: #f6f6f6;
}
.text-white {
    color: #fff !important;
}
/*Default Classes end */
/* Default Component Start */
.container {
    padding: 0 15px;
    margin: auto;
    max-width: 1020px;
}
.default-section {
    padding: 70px 0;
}
.small-section {
    padding: 100px 0;
}
.header {
    padding: 40px 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99;
}
.logo {
    float: left;
}

@media (max-width: 767px) {
    .small-section {
        padding: 65px 0;
    }
}
/* ============ Title Start  ============= */
.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.title.light {
    font-weight: 300;
    font-size: 38px;
}
.title.content-block {
    font-size: 20px;
}

@media (max-width: 767px) {
    .title.content-block {
        font-size: 17px;
    }
    .title.light {
        font-size: 26px;
    }
    .title {
        font-size: 22px;
    }
}
/* ============ Title End  ============= */
.content-text {
    margin-top: 10px;
}
/* ============ Btn Start  ============= */
.btn {
    padding: 15px 20px;
    color: #4c4f5f;
    border-radius: 20px;
}
.btn.btn-default {
    background-color: #fff;
}
.btn.btn-default:hover {
    background-color: #e0a446;
    color: #fff;
    cursor: pointer;
}
/* ============ Btn End  ============= */
/* Default Component End */
/* Custom Style Start */
/* ============ Inner Start  ============= */
.inner {
    background: url(../img/inner-bg.jpg) no-repeat center /cover;
    /*height: 100vh;*/
    height: 721px;
}
.inner-content {
    display: flex;
}
.inner-content .inner-photo {
    padding-top: 130px;
    max-width: 245px;
}
.inner-content-text {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
.inner-content-text h1 {
    margin-top: 230px;
    font-size: 38px;
}
.inner-content-text .inner-text,
.inner-content-text .title.light,
.inner-content-text .btn.btn-default {
    margin-top: 45px;
}
.inner-btn {
    display: flex;
}
.inner-content-text .btn.btn-default {
    display: flex;
    height: 48px;
    align-items: center;
}
.inner-content-text .btn.btn-default + .btn.btn-default {
    margin-left: 24px;
}
.inner-content-text .btn.btn-default .icon-apple {
    margin-right: 15px;
    vertical-align: middle;
}

@media (max-width: 991px) {
    .inner {
        height: 600px;
    }
    .inner-content-text {
        margin-left: 50px;
    }
}

@media (max-width: 767px) {
    .inner-content-text h1 {
        margin-top: 150px;
        font-size: 30px;
    }
    .inner-content-text .btn.btn-default {
        text-align: center;
    }
    .inner-content-text .btn.btn-default .icon-apple {
        margin-right: 0;
    }
    .inner {
        height: 500px;
    }
}

@media (max-width: 599px) {
    .inner-photo {
        display: none;
    }
}

@media (max-width: 479px) {
    .inner-content-text {
        margin-left: 20px;
    }
}
/* ============ Inner End  ============= */
/* ============ Content-Item Start  ============= */
.content-item-wrap {
    display: flex;
}
.content-item-wrap .content-title-text {
    margin-top: 10px;
}
.content-img-wrap {
    display: flex;
}
.content-item-text .content-item-img {
    margin-right: 10px;
}
.content-title {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}
.content-item-wrap .content-item-text + .content-item-text {
    margin-top: 40px;
}

@media (max-width: 991px) {
    .content-title {
        margin-bottom: 50px;
    }
    .content-item-img {
        align-self: center;
    }
}

@media (max-width: 767px) {
    .content-img-wrap img {
        margin-right: 5px;
    }
    .content-item-img {
        display: none;
    }
}
/* ============ Content-Item End  ============= */
/* ============ Small-Content-Section Start  ============= */
.small-content-section {
    background: url(../img/small-section-bg.jpg) no-repeat center /cover;
}
.small-content-title.title {
    font-weight: 400;
}
.small-content-wrap {
    display: flex;
    justify-content: center;
    text-align: center;
}
.small-content-text {
    display: flex;
    flex-direction: column;
}
.small-content-section .small-text {
    margin-top: 20px;
    margin-bottom: 65px;
}
.small-content-btn {
    display: flex;
}
.small-content-text .btn.btn-default {
    display: flex;
    width: 240px;
    height: 46px;
    align-items: center;
    justify-content: center;
}
.small-content-text .icon-apple {
    margin-right: 25px;
}
.small-content-text .btn.btn-default + .btn.btn-default {
    margin-left: 24px;
}

@media (max-width: 599px) {
    .small-content-text .btn.btn-default {
        width: unset;
    }
}
/* ============ Small-Content-Section End  ============= */
/* ============ Footer Start  ============= */
.footer-wrap {
    display: flex;
    padding: 40px 0 80px;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.footer-mail {
    color: #469ee0;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .footer-wrap {
        padding: 40px 0 10px;
    }
}

@media (max-width: 599px) {
    .footer-wrap {
        flex-direction: column;
        align-items: center;
    }
    .footer-mail {
        margin-bottom: 10px;
    }
}
/* ============ Footer End  ============= */
/* Custom Style End */